name: Test Build

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  test-build-macos:
    runs-on: macos-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js and install dependencies
        uses: ./.github/actions/setup-node-cicd
        with:
          registry-url: ${{ secrets.PRIVATE_NPM_REGISTRY }}
          node-auth-token: ${{ secrets.PRIVATE_NPM_REGISTRY_TOKEN }}

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-apple-darwin

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: './src-tauri -> target'

      - name: Build Tauri app
        uses: tauri-apps/tauri-action@v0
        with:
          args: --target aarch64-apple-darwin

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-build-aarch64
          path: src-tauri/target/aarch64-apple-darwin/release/bundle/dmg/*.dmg
          if-no-files-found: error
          retention-days: 7

